# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb
*.dwo

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake build directory
cmake-build-debug/

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
build.ninja
rules.ninja
*.ninja

# Testing logs
Testing/
*.log

# Binary executables
**/Newton-Gravity

# Texture temp folders
**/textures/temp/
**/textures/untitled folder/

# IDE/editor-specific
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp
clion-*.txt

# Xcode user data
Newton-Gravity.xcodeproj/xcuserdata/
Newton-Gravity.xcodeproj/project.xcworkspace/xcuserdata/

# macOS
.DS_Store